<section> 
  <head>
    <link rel="icon" href="data:,">

  </head>
<header>
<h2 class="main-title">Hogwarts</h2>
</header>



<div class="columns">

  <div class="teachers-title title">
    <h3>Teachers</h3>
  
  </div>
  
  <ng-container *ngFor="let teacher of teachers" class="person-card">    
  
    <app-card class = "teacher" [person]="teacher" ></app-card>
  


</ng-container >  

<div class="students-title title">
  <h3>Students</h3>
</div>
     <ng-container *ngFor="let student of students" class="person-card">
      
      <app-card class="student" [person]="student" ></app-card>
    
    </ng-container >  


</div>
<router-outlet />

</section>