<head>
    <link rel="icon" href="data:,">

  </head>
<div class="card">

<div class="card-header">
    <h3 class = "name">{{person.firstName + person.lastName}}</h3>
    <div [ngStyle]="{'background-color': getColorForItem(person.isTeacher ? person.assignment : person.house)}" class="subject">
        <span >
          {{ person.isTeacher ? person.assignment : person.house }}
        </span>
      </div>
</div>


<div class="card-body">
    <p class = "description"> {{person.description}} </p>
</div>

<div class="card-footer">
    <i class="fa-solid fa-calendar"></i> <span class="date"> {{person.arrivalDate}} </span>
</div>

</div>
